/* GENERAL */
:root {
    --main-color--: blue;
    --secondary--color: green;
    --third-color: orange;
    --bg-button-bgcolor--: black;
    --bg-button-color--: blueviolet;
}

.mybtn:hover{
    background-color: var(--bg-button-bgcolor--);
    color: var(--bg-button-color--);
}

/* NAVBAR */
.nav-item img {
    max-width: 500%; /* Ajustez cette valeur selon la taille souhaitée de l'image */
    height: auto;
}

nav .search-form {
    display: flex;
    justify-content: flex-end; /* Ajustement de l'alignement du formulaire */
}

.navbar-brand img {
    max-width: 18%; /* Ajustez cette valeur selon la taille souhaitée de l'image */
    height: auto;
}

.navbar-nav {
    margin-left: auto; /* Alignement automatique des éléments vers la droite */
    margin-right: 20px;
}
/* Conteneur pour le profil dans la navbar */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments verticalement */
}

.profile-container img {
    min-width: 10%;
    max-width: 15%; /* Ajustez cette valeur selon vos préférences */
    height: auto;
}

.profile-container small {
    margin-top: 5px; /* Ajoute un espace entre l'image et le nom */
    color: white; /* Gardez la couleur du texte blanche */
}

