 /* General */
 :root {
    --main-color: blue;
    --secondary-color: green;
    --bg-button-bgcolor: black;
    --bg-button-color: blueviolet;
}

.myFlex:hover {
    background-color: var(--bg-button-bgcolor);
    color: var(--bg-button-color);
}

img {
    height: 50px;
    width: auto;
}

.red {
    color: red;
}

.mybutton:hover {
    color: blueviolet;
    background-color: black;
}

/* Heading */
.myHeader {
    height: 150px;
}

.myHeader .myNavbar {
    height: 60px;
    margin-bottom: 10px;
}

.myHeader .myNavbar .navbar a img {
    margin-left: 40px;
}

.myHeader .myNavbar .navbar-collapse {
    margin-right: 40px;
    text-align: left;
}

.myHeader .myNavbar .navbar-collapse .nav-item {
    margin-right: 20px;
}

.myHeader .myNavbar .navbar-collapse .nav-item a h5 {
    font-weight: bold;
    color: black;
}

.myHeader .myNavbar .navbar-collapse .nav-item a h5:hover {
    color: white;
}

.myHeader .myNavbar .navbar-collapse .nav-item .profile-container a {
    text-decoration: none;
}

.myHeader .myNavbar .navbar-collapse .nav-item .profile-container a:hover {
    color: white;
}

.myHeader .myNavbar .navbar-collapse .nav-item .profile-container a small {
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin-left: 70px;
}

.myHeader .myNavbar .navbar-collapse .nav-item .profile-container a small:hover {
    color: white;
}



/* CAROSSEL */
main{
    align-items: center;
    margin-top: -65px;
    width: 100%;
}



/* Carrousel - styles pour les images */
.slide img {
    width: 100%; /* Les images prennent toute la largeur du carrousel */
    height: 700px; /* Limite la hauteur des images à 300px */
    object-fit: cover; /* Permet à l'image de s'ajuster en fonction de la taille du conteneur tout en conservant le ratio d'aspect */
}


/* Carrousel - styles pour les légendes */
.carousel-caption {
    width: 100%; /* La légende prend toute la largeur du carrousel */
    position: absolute; /* Gardez la légende en position absolue par rapport à l'image */
    bottom: 40%; /* Espace entre la légende et le bas de l'image */
    background-color: rgba(0, 0, 0, 0.185); /* Fond semi-transparent pour la légende */
    padding: 10px; /* Ajoutez un peu de padding pour un meilleur espacement */
}

/* Carrousel - style pour le titre */
.carousel-caption h1 {
    color: black;
}
/* Carrousel - styles pour les légendes */


.carousel-item{
    top: 0;
    right: 0;
    left: 0;
}

/* Footer */
.myFooter {
    background-color: black;
    color: white;
    padding: 5px;
}
